version: "3.9"

services:
  web:
    image: myapp-web:1.0.0 
    container_name: web
    ports:
      - "3000:80" 
    environment:
      API_BASE_URL: "http://api:3000"
    depends_on:
      - api

  api:
    build: ./backend 
    container_name: api
    ports:
      - "3000:3000" 
    environment:
      PORT: "3000"
      DB_URL: "postgresql://postgres:example@db:5432/appdb"
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    container_name: db
    environment:
      POSTGRES_PASSWORD: example
      POSTGRES_DB: appdb
    ports:
      - "5432:5432"
